.slider {
    display: flex;
    overflow: hidden;
}

.slider-page {
    transition: transform 1.5s;
}

.slide-left {
    transform: translateX(-120%);
}

.slide-right {
    transform: translateX(15%);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}